/* CSS3 declaração de variáveis :)*/
:root {
    --vermelha: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* SERVE PARA QUE OS ELEMENTOS, MESMO QUE MAIOR, NÃO "EMPURRE" A CAIXA PARA CONTER O TAMANHO" */
}

/* Base para corpo */
body {
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelha);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px; 
}

header nav a:hover{
    color: #FFF;
}

/*Filme exposição*/
.movie_main {
    font-size: 16px;
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.movie_title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.movie_description {
    margin-top: 1rem;
    margin-bottom: 40px;
}

.button {
    background-color: rgba(0,0,0,.55);
    color: white;
    border: none;
    padding: 1rem 2rem;
    margin-right: 1rem;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.button:hover{
    background-color: rgba(255,255,255,.80);
    color: var(--preta);
}
.button i {
    margin-right: 5px;
}

.container {
    margin-left: 2rem;
}

.movie_main .container {
    width: 70%;
}

.box-img {
    height: 100%;
    width: 100%;
    display: block;
}